p {
    font-family: arial, helvetica, sans-serif;
    font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: arial, helvetica, sans-serif;
}

.white {
    color: white;
}

.container {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

ul li {
    margin-top: 46px;
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}

.textarea {
    padding: 10px;
}

.blankspace {
    height: 20px;
}

.img-circle{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


.bar {
    margin: -10px -10px 0 -10px;
    padding: 8px 8px 8px 12px;
    height: 30px;
    background-color:black;
}

#profilebar {
    margin: 0px -15px 0 -15px;
    padding: 8px;
    height: 30px;
    background-color:black;
}

#date {
    font-size:9pt;
}

#nav {
    height:85px;
    background-color:black;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

#footer {
    margin-top: 20px;
    background-color:black;
    padding-top: 10px;
    height: 60px;
}

#post {
    margin-left: 60px;
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
    height: 100%;
    border: solid 1px #d9d9d9;
    background-color: white;
    float:left;
}

#left {
    margin-top: 30px;
    border: solid 1px #d9d9d9;
    height: 100%;
    padding-bottom: 40px;
}


#right {
    margin-top: 12px;
}

#logo {
    margin-top: 55px;
    float: left;
}

#links {
    position: absolute;
    right: 5px;
}


#imgright {
    float: right;
    display: block;
    margin-right: -2px;
    margin-top: 5px;
}

/* unvisited link */
a:link {
    color: white;
}


/* visited link */
#links a:visited {
    color: white;
}

#positivelink a:visited {
    color: black;
}

#positivelink a:link {
    color: black;
}

/* mouse over link */
#links a:hover {
    color: #FF9933;
    text-decoration: none;
}

/* mouse over link */
#logo a:hover {
    color: #FF9933;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #FF9933;
}