p {
    font-family: arial, helvetica, sans-serif;
    font-size: 14pt;
}

.white {
    color: white;
}

.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}

.post {
    margin-left: 50px;
    margin-bottom: 50px;
    width: 60%;
    background-color: #d9d9d9;
}

.textarea {
    padding: 10px;
    margin-right:85px;
    float: left;
}

.photoarea {
    position: relative;
    right: 20px;   
}

.photoarea.figure {
    position: relative;
    right: 20px; 
}

#nav {
    background-color:black;
    padding: 10px;
    padding-bottom: -10px;
    margin-bottom:10px;
}

#right{
}

#left{
}

#photocontainer {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: auto;

}

#profilephoto {
    width: 200px;
    height: 200px;
}

