p {
    font-family: arial, helvetica, sans-serif;
    font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: arial, helvetica, sans-serif;
}

.white {
    color: white;
}

.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}

.textarea {
    padding: 10px;
}


#nav {
    background-color:black;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

#post {
    margin-bottom: 30px;
    padding: 10px;
    width: 45%;
    height: 200px;
    background-color: #d9d9d9;
    float:left;
}

#right {
    margin-top: 10px;
}

#logo {
    float: left;
}

#links {
    position: absolute;
    right: 5px;
}

#photocontainer {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#profilephoto {
    width: 200px;
    height: 200px;
}

#imgright {
    margin-bottom: 50px;    
}
